<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>url</title>
     <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap-dashboard.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/css/sb-admin-2-dashboard.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  
</head>

<body>
    <form class="form-horizontal" action="" method="post" id="form">
        <fieldset>
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2">@</span>
                <input type="text" class="form-control" id="url" name="url" placeholder="url" aria-describedby="sizing-addon2">
            </div>
            <div class="btn pull-right">
                <button class="btn btn-primary">등록</button>
            </div>
        </fieldset>
    </form>
</body>
</html>